.gcloudignore
.git
.gitignore

node_modules/
.next/
out/
dist/
build/

# .env dibutuhkan saat build Next.js (NEXT_PUBLIC_*)
# .env
# .env.*
.env.local

npm-debug.log
yarn-error.log
pnpm-debug.log

.DS_Store
Thumbs.db